body {
    background-color: #a0649b;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.tuote {
    width: 50%;
    border-radius: 1em;
}
.container {
    width: 80%;
    background-color: #d5aef2;
}

.info {
    border-radius: 100%;
}